.Header{
  display: flex;
  align-items: center;
  /* align-content: center; */
  padding: 10px;
  background-color: #b878d6;
}
.Image{
  width:200px;
  height: 100px;


}

.Text {
  font-size: 20px;
  font-weight: 200;
}

.Form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 10px;
}

.Body {
  padding: 30px;
}

button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  border: none;
  cursor: pointer;
}

.MemeImage {
  max-width: 100%;
}

.texts {
  position: relative;
  margin-top: 10px;
}

.top,
.bottom {
  position: absolute;
  max-width: 80%; /* Changed to max-width */
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000, 2px 2px 5px #000;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}
