.Header{
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background-color: bisque;
}
.Image{
  padding: 20px;
  width:50px;
  height: 50px;

}

.Text{
  font-size: 20px;
  padding: 10px;
  margin-right: auto;
  

}
.Form{
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 10px;

}
.Body{
  position: relative;
  padding: 30px;

}

button{
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  border: none;
  cursor: pointer;


}
.MemeImage{
  max-width: 100%;
  max-height: 100%;
 

}

.texts{
  position:relative ;
  margin-top: 10px;
}
.top{
  top: 0;
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}
.bottom{
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;  
      bottom: 0;
}